<h1>This is the User Index</h1>


<div class="users">
	
	<% @users.each do |user| %>
		<div class="user">
			
			<%= user.first_name %>
			<%= user.last_name %>
			<%= user.email %>
		</div>


	<% end %>
</div>